{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<h1 class="mt-5">Tabela de Medicamentos</h1>

<br>

        <table class="table">

          <thead>

            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Dosagem</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
          {% for remedio in remedios %}
            <tr>
              <td>
                {{ remedio.id }}
              </td>
              <td>
                <a href="{% url 'ver_remedio' remedio.id %}">{{ remedio.nome }}</a>
              </td>
              <td>{{ remedio.dosagem }}</td>
              <td>{{ remedio.quantidade }}</td>

            </tr>
          {% endfor %}


          </tbody>
        </table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for pagina in remedios.paginator.page_range %}
    {% if remedios.number == pagina %}
    <li class="page-item active"><a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{pagina}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<br>
<p>
  Para realizar o seu cadastro
  <a href="{% url 'cadastro' %}">clique aqui</a>.
  <br>
  <br>
  Caso você já tenha uma conta, clique em
  <a href="{% url 'login' %}">entrar</a>.
</p>
{% endblock %}